li{
    display: inline;
    margin: 10px;
    border: 2px solid #0e0505;
    background-color: rgb(76, 0, 255);
}
a{
    text-decoration: none;
    text-indent: inherit;
}
header nav ul{
    padding:20px 20%;
    text-align: center;
    list-style-type: none;
    z-index: 10;
}
header nav{
    margin: 10px;
    padding: 5px;
    width: 80%;     
    height: 200px;
    background-color: rgb(39, 36, 202);
}
header nav ul li ul{
    z-index: -1;
    display: none;
}    